<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Watson Beat Web Demo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style> html { font-size: 12px; } </style>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Watson Beat Web Demo</h1>
      <p>Input paramaters below to create a composition with Watson Beat. A composition is a sequence of movements. A movement is a sequence of sections.</p>

      <div id="app">
        <form action="{{ url_for('submit') }}" method="post">
          <composition></composition>
          <p><button type="submit">Submit</button></p>
        </form>
      </div>

      <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
